<h1>Personajes <small>Los Simpsons</small> </h1>
<hr>

<div class="container">

    <a class="btn btn-primary " [routerLink]="['/Onecharacter',0,1]" role="button">
        <img src="../../../assets/add.png" height="20px" /> Agregar </a>

    <table class="table table-striped">
        <thead class="bg-primary">
            <tr>
                <th scope="col" colspan="2">&nbsp;</th>
                <th scope="col">Name</th>
                <th scope="col">Bio</th>
                <th scope="col">Imagen</th>
                <th scope="col">Link Origen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let datavalues of personajesrecuperados; let i = index">
                <td style="text-align: center; padding: 0pt; vertical-align: middle">
                    <a [routerLink]="['/Onecharacter',datavalues.key,2]">
                        <img class="img-rounded" style="height: 24px;" src="../../../assets/edit.png" />
                    </a>
                </td>
                <td style="text-align: center; padding: 0pt; vertical-align: middle">
                    <a [routerLink]="['/Onecharacter',datavalues.key,3]">
                        <img class="img-rounded" style="height: 24px;" src="../../../assets/delete.png" />
                    </a>
                </td>
                <td>{{ datavalues.name }}</td>
                <td>{{ datavalues.bio|slice:0:50 }}...</td>
                <td style="text-align: center;"><img style="height: 70px;" src="{{ datavalues.image }}" onError="this.src = '../../../assets/No_Image_Available.png'" /></td>
                <td>
                    <a href="{{ datavalues.link }}" target="_blank">{{ datavalues.name }}</a></td>
                <td hidden>{{ datavalues.key }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary " [routerLink]="['/Onecharacter',0,1]" role="button">
        <img src="../../../assets/add.png" height="20px" /> Agregar </a>

</div>