<h1>Personajes <small>Los Simpsons</small> </h1>
<hr>

<div class="container">

    <table class="table table-striped">
        <thead class="bg-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">key</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let datavalues of personajesrecuperados; let i = index">
                <td>
                    <a [routerLink]="['/Onecharacter',datavalues.key]">
                        <img class="img-rounded" style="width: 16px; height: 16px;" src="../../../assets/delete.png " />
                    </a>
                </td>
                <td>{{ datavalues.name }}</td>
                <td>{{ datavalues.bio|slice:0:50 }}</td>
                <td>{{ datavalues.image }}</td>
                <td>{{ datavalues.link }}</td>
                <td>{{ datavalues.key }}</td>
            </tr>

            <!--tr>
                <th scope="row ">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row ">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row ">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr-->
        </tbody>
    </table>

    <a class="btn btn-primary " routerLink="/Onecharacter " role="button">Detalle</a>

</div>