<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/home">
        <img class="rounded" src="../../../assets/Family.jpg" height="40px" />
    </a>
    <!--a class="navbar-brand" href="#">&nbsp;</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/personaje" routerLinkActive="active">Personajes</a>
                    <a class="dropdown-item" routerLink="/Allcharacters">Todos los Personajes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Páginas Recomendadas</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/about">Acerca de... <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form onsubmit="return false" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup.enter)="searchPersonaje(buscarTexto.value)" #buscarTexto>
            <button (click)="searchPersonaje(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0">Buscar...</button>
        </form>
    </div>
</nav>
<div style="font-size: 4pt">&nbsp;</div>